 <!-- Main Content -->
        <main class="main-content">
            <!-- Top Navbar -->
           {{>menu}}

            <!-- Settings Content -->
         
                <!-- Settings Navigation -->
                

                <!-- Settings Content -->
                <div class="glass-card">
                    <!-- Profile Tab -->
                    <form action="/classes/create" method="POST">

                    <div class="settings-tab-content active" id="tab-profile">
                        <div class="profile-header">
                           
                            <div class="profile-info">
                                
                                <p></p>
                            </div>
                        </div>

                        <div class="settings-section">

                            <div class="form-grid">
                                <div class="form-group-settings">
                                    <label>Libelle</label>
                                    <input type="text"  name="libelle" placeholder="" >
                                </div>
                                <div class="form-group-settings">
                                    <label>Abreviation</label>
                                    <input type="text" name="abreviation" placeholder="" >
                                </div>
                                <div class="form-group-settings">
                                     <label for="exampleFormControlSelect1" class="form-label">Niveau</label>
                                            <select class="settings-select" id="exampleFormControlSelect1" name="niveau">
                                                <option value="">-- Selectionner le niveau --</option>
                                                    <option value="6e">6e</option>
                                                    <option value="5e">5e</option>
                                                    <option value="4e">4e</option>
                                                    <option value="3e">3e</option>
                                                    <option value="2nde">2nde</option>
                                                    <option value="1ere">1ere</option>
                                                    <option value="Tle">Tle</option>
                                            </select>
                                      </div>
                                <div class="form-group-settings">
                                    <label>Cycle</label>
                                     <select class="settings-select" id="exampleFormControlSelect1" name="cycle">
                                     <option value="">-- Selectionner le Cycle --</option>
                                                    <option value="Lycée">Primaire</option>
                                                    <option value="Lycée">Collège</option>
                                                    <option value="Lycée">Lycée</option>
                                            </select>
                                </div>

                                <div class="form-group-settings">
                                     <label for="exampleFormControlSelect1" class="form-label">Ecole</label>
                                            <select class="settings-select" id="exampleFormControlSelect1" name="ecole">
                                                <option value="">-- Selectionner un ecole --</option>
                                               {{#each Ecoles}}
                                                    <option value="{{_id}}">{{libelle}}</option>
                                                {{/each}}

                                            </select>
                                </div>

                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-primary" style="width: auto;">Save Changes</button>
                            <button class="btn btn-secondary" style="width: auto;">Cancel</button>
                        </div>
                    </div>
            </form>
                    <!-- Security Tab -->
                    
                    <!-- Notifications Tab -->
                    
                    <!-- Billing Tab -->
                    <div class="settings-tab-content" id="tab-billing">
                        

                        
                    
                    </div>
                </div>
            </div>
        </main>
    </div>
<script>
    const input = document.getElementById("fileInput");
    const preview = document.getElementById("preview");

    input.addEventListener("change", () => {
      const file = input.files[0];
      if (!file) return;

      if (!file.type.startsWith("image/")) {
        alert("Veuillez sélectionner une image");
        return;
      }

      preview.src = URL.createObjectURL(file);
      preview.style.display = "block";

      preview.onload = () => {
        URL.revokeObjectURL(preview.src);
      };
    });
  </script>

